    <div>
        {{#each this}}
            <h3>Name</h3>
            {{name}}<br>
            <img src={{image_url}} class="all-beers"/>
            <h3>Description</h3>
            {{description}}<br>
            <h3>Tag Line</h3>
            {{tagline}}
        {{/each}}
    </div>