    <div class="text-alg-c flex-d-c d-flex">
        <div>
                        <img id = "home-beer" src = "../images/beer.png"/>
        </div>

        <div class="mb-40 mt-40"> 
            <a href="/beers" class="bttm-h">Check the Beers</a>
        </div>

        <div class="mb-40"> 
            <a href="/random-beer" class="bttm-h">Check a Random Beer</a>
        </div>

    </div>